<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact US</title>
    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body>
    <div class="form-style-6">
      <h1>Contact Us</h1>
      <form action="/sucess" method="get">
        <input type="text" name="field1" placeholder="Your Name" />
        <input type="email" name="field2" placeholder="Email Address" />

        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
